
body{
    background-image:url('../public/ejected.gif');
    background-size: cover;
}

#Heading, #Titles{
    text-align: center;
    color: white;
    text-shadow: 2px 2px  rgb(19, 17, 17);
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    background-color: rgba(255, 255, 255, 0.404);
    width: fit-content;
    margin: auto;
    display: grid;
    columns: 900px;
    border-radius: 1em;
}

.container_inner{
    margin: 5%;
}

form{
    display: flex;
    border-bottom: 1px solid rgb(58, 52, 52);
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    margin-bottom: 1em;

    div{
        padding: 15px;

        label{
            font-size: 1em;
        }
        
        input{
            padding: 10px;
            border: none;
            width: 250px;

            &:focus{
                outline: 3px solid rgb(252, 250, 144);
            }
        }

    }

    button {
        margin-top: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0 10px;
        color: white;
        text-shadow: 2px 2px rgb(116, 116, 116);
        text-transform: uppercase;
        cursor: pointer;
        border: solid 2px black;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 17px;
        background-color: hsl(49deg 98% 60%);
        border-radius: 50px;
        position: relative;
        overflow: hidden;
        transition: all 0.5s ease;
      }
      
      button:active {
        transform: scale(0.9);
        transition: all 100ms ease;
      }
      
      button svg {
        transition: all 0.5s ease;
        z-index: 2;
      }
      
      .play {
        transition: all 0.5s ease;
        transition-delay: 300ms;
      }
      
      button:hover svg {
        transform: scale(3) translate(50%);
      }
      
      .now {
        position: absolute;
        left: 0;
        transform: translateX(-100%);
        transition: all 0.5s ease;
        z-index: 2;
      }
      
      button:hover .now {
        transform: translateX(10px);
        transition-delay: 300ms;
      }
      
      button:hover .play {
        transform: translateX(200%);
        transition-delay: 300ms;
      }
}

.task_container{
    margin-bottom: 25px;
    button{
        width: fit-content;
        padding: 10px;
    }

    
    .switch_button{
        background-color: hsl(49, 38%, 38%);
        border: none;
        cursor: pointer;
    }
    
    .active{
        background-color: hsl(49, 94%, 65%);
        border-bottom: 3px solid rgb(219, 51, 51);
        cursor: default;
    }
}

.task_list{
    display: flex;
    flex-direction: column; 
    
    .list_items{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        width: 100%;
        background-color: rgba(129, 151, 250, 0.575);
        border-bottom: 1px solid rgb(58, 52, 52);
        border-radius: 10px;
        padding: 5px;

        .items_buttons{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: fit-content;
            cursor: default;
            
            span{
                cursor: pointer;
                padding: 0px;
                width: 50px;
                height: 50px;

                .after{
                    display: none;
                }

                &:hover{
                    .before{
                        display: none;
                    }
                    .after{
                        display: block;
                    }
                }
            
            }

        }
    }
}


